body {
  background: #f6f7f9;
  font-family: rob;
  color: textgrey;
  padding-bottom: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: bgrey;
}
.button {
  font-family: cat;
  font-size: 16px;
  line-height: 26px;
  color: bgrey;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px 10px;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.3s;
}
.button-sm {
  font-family: cat;
  font-size: 16px;
  line-height: 20px;
  color: bgrey;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px;
  text-align: center;
  transition: all 0.3s;
  display: block;
}
.button:hover,
.button-sm:hover {
  color: bgreen;
  border: 1px solid bgreen;
  transition: all 0.3s;
}
.button.active {
  background: bgreen;
  border: 1px solid bgreen;
  color: #fff;
}
