header {
  height: 62px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-block {
  margin-top: 18px;
}
.location-name {
  font-family: cat;
  font-size: 16px;
  line-height: 33px;
  padding-left: 6px;
  color: bgrey;
}
.header-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
}
.user-block {
  margin-top: 18px;
}
.user-icon img,
.location-icon img {
  width: 30px;
}
.user-name {
  font-family: cat;
  font-size: 16px;
  line-height: 30px;
  padding-right: 6px;
  color: bgrey;
}
.main-menu {
  margin-top: 16px;
}
.main-menu-left a:first-of-type {
  margin-right: 10px;
}
.main-menu-time li {
  display: block;
  float: left;
  margin-right: 10px;
}
.main-menu-time li:last-of-type {
  margin-right: 0;
}
/*** Datepicker ***/
.datepicker-parent {
  position: relative;
}
.datepicker {
  position: absolute;
  top: 44px;
  right: 0;
  background: #fff;
  height: 60px;
  width: 300px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  border-radius: 16px;
  padding-top: 15px;
  padding-left: 14px;
}
.datepicker-circle {
  background: #fff;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  position: absolute;
  top: -6px;
  right: 10px;
  transform: rotate(90deg);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  z-index: -1;
}
.start-date,
.end-date {
  color: textgrey;
  font-family: rob;
  font-size: 14px;
  width: 109px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 6px;
  background: url("../assets/images/calendar.svg") no-repeat;
  background-position: 85px 6px;
}
.start-date:focus,
.end-date:focus {
  outline-color: #7ec443;
}
.date-divider {
  color: textgrey;
  margin: -4px 10px 0;
  font-size: 30px;
}
.timepicker-icon {
  margin-left: 8px;
  margin-top: 4px;
}
