header {
  height: 62px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-block {
  margin-top: 18px;
  position: relative;
}
.location-name {
  font-family: cat;
  font-size: 16px;
  line-height: 33px;
  padding-left: 6px;
  color: bgrey;
}
.location-dropdown-root {
  position: absolute;
  background: #fff;
  z-index: 99;
  top: 35px;
  width: 200px;
/* Flyout CSS menu */
}
.location-dropdown-root ul,
.location-dropdown-root li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}
.location-dropdown-root ul {
  border-top: 3px solid bgreen;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-dropdown-root ul li.hover,
.location-dropdown-root ul li:hover {
  position: relative;
  z-index: 599;
}
.location-dropdown-root ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
.location-dropdown-root ul li:hover > ul {
  visibility: visible;
}
.location-dropdown-root ul ul {
  top: 0;
  left: 100%;
}
.location-dropdown-root span,
.location-dropdown-root a {
  display: inline-block;
  text-decoration: none;
}
.location-dropdown-root li {
  background: #fff;
}
.location-dropdown-root li:hover,
.location-dropdown-root li.active {
  background: #fff;
}
.location-dropdown-root a {
  color: bgrey;
  line-height: 160%;
  padding: 10px 8px 10px 18px;
  width: 164px;
}
.location-dropdown-root ul ul li {
  background: #fff;
/* Flyout CSS menu */
}
.settings-dropdown-root {
  position: absolute;
  background: #fff;
  z-index: 99;
  top: 35px;
  right: 0;
  width: 180px;
}
.settings-dropdown-root ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.settings-dropdown-root ul,
.settings-dropdown-root li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}
.settings-dropdown-root ul {
  border-top: 3px solid bgreen;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.settings-dropdown-root a {
  color: bgrey;
  line-height: 160%;
  padding: 6px 8px 6px 18px;
  display: inline-block;
}
li a.all-item {
  color: #949aa2;
}
.header-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
}
.user-block {
  margin-top: 18px;
  position: relative;
}
.user-icon img,
.location-icon img {
  width: 30px;
}
.user-name {
  font-family: cat;
  font-size: 16px;
  line-height: 30px;
  padding-right: 6px;
  color: bgrey;
}
.main-menu {
  margin-top: 16px;
}
.main-menu-left a:first-of-type {
  margin-right: 10px;
}
.main-menu-time li {
  display: block;
  float: left;
  margin-right: 10px;
}
.main-menu-time li:last-of-type {
  margin-right: 0;
}
/*** Datepicker ***/
.datepicker-parent {
  position: relative;
}
.datepicker {
  position: absolute;
  top: 44px;
  right: 0;
  background: #fff;
  height: 60px;
  width: 300px;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  border-radius: 16px;
  padding-top: 15px;
  padding-left: 14px;
}
.datepicker-circle {
  background: #fff;
  height: 18px;
  width: 18px;
  border-radius: 8px;
  position: absolute;
  top: -6px;
  right: 10px;
  transform: rotate(90deg);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  -moz-box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  box-shadow: 0px 4px 12px 0px rgba(142,142,142,0.5);
  z-index: -1;
}
.start-date,
.end-date {
  color: textgrey;
  font-family: rob;
  font-size: 14px;
  width: 109px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 6px;
  background: url("../assets/images/calendar.svg") no-repeat;
  background-position: 85px 6px;
}
.start-date:focus,
.end-date:focus {
  outline-color: #7ec443;
}
.date-divider {
  color: textgrey;
  margin: -4px 10px 0;
  font-size: 30px;
}
.timepicker-icon {
  margin-left: 8px;
  margin-top: 4px;
}
