header {
  height: 62px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-block {
  margin-top: 18px;
}
.location-name {
  font-family: cat;
  font-size: 16px;
  line-height: 33px;
  padding-left: 6px;
  color: bgrey;
}
.header-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
}
.user-block {
  margin-top: 18px;
}
.user-icon img,
.location-icon img {
  width: 30px;
}
.user-name {
  font-family: cat;
  font-size: 16px;
  line-height: 30px;
  padding-right: 6px;
  color: bgrey;
}
.main-menu {
  margin-top: 16px;
}
.main-menu-left a:first-of-type {
  margin-right: 10px;
}
.main-menu-time li {
  display: block;
  float: left;
  margin-right: 10px;
}
.main-menu-time li:last-of-type {
  margin-right: 0;
}
