@import 'bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Catamaran");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
  background: #f6f7f9;
  font-family: 'Roboto';
  color: #585858;
  padding-bottom: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #585e66;
}
.button {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 26px;
  color: #585e66;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px 10px;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.3s;
}
.button-sm {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 20px;
  color: #585e66;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 4px 10px 2px;
  text-align: center;
  transition: all 0.3s;
  display: block;
  float: right;
}
.button:hover,
.button-sm:hover {
  color: #7ec443;
  border: 1px solid #7ec443;
  transition: all 0.3s;
}
.button.active {
  background: #7ec443;
  border: 1px solid #7ec443;
  color: #fff;
}
header {
  height: 62px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(210,210,210,0.5);
}
.location-block {
  margin-top: 18px;
}
.location-name {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 33px;
  padding-left: 6px;
  color: #585e66;
}
.header-logo {
  width: 200px;
  margin: auto;
  margin-top: 12px;
}
.user-block {
  margin-top: 18px;
}
.user-icon img,
.location-icon img {
  width: 30px;
}
.user-name {
  font-family: 'Catamaran';
  font-size: 16px;
  line-height: 30px;
  padding-right: 6px;
  color: #585e66;
}
.main-menu {
  margin-top: 16px;
}
.main-menu-left a:first-of-type {
  margin-right: 10px;
}
.main-menu-time li {
  display: block;
  float: left;
  margin-right: 10px;
}
.main-menu-time li:last-of-type {
  margin-right: 0;
}
.overview-block {
  margin-top: 60px;
}
.the-card {
  padding: 12px 26px 42px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
  max-width: 400px;
  margin: auto;
}
.card-shape {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 14px 0px rgba(216,216,216,0.5);
}
.card-location {
  text-align: center;
  font-size: 28px;
}
.nav-stats {
  margin-right: 10px;
}
.total-desks-number,
.total-rooms-number {
  font-weight: bold;
  font-size: 26px;
}
.total-desks-inuse,
.total-rooms-inuse {
  color: #a7a6a6;
}
.card-buttons {
  margin-top: 20px;
}
.card-stats-numeric {
  margin-top: 20px;
}
.card-bottom-menu {
  margin-top: 25px;
}
.add-cart-zone {
  cursor: pointer;
  height: 683px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-card img {
  width: 100px;
}
.add-card .add-card-descr {
  color: #bfbfbf;
  font-size: 20px;
  font-family: 'Catamaran';
  font-weight: normal;
  margin-top: 10px;
}
.card-settings-sticker {
  background: #ff6868;
  border-radius: 100px;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  right: 36px;
  line-height: 16px;
}
.maintenence-number {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.card-gauge-block {
  height: 240px;
  background: #c9c9c9;
  margin-top: 20px;
}
.card-marks-block {
  margin-top: 14px;
  height: 120px;
  background: #c9c9c9;
}
.comparison-wrapper {
  margin-top: 60px;
}
.comparison-title-card {
  font-family: 'Catamaran';
}
.comparison-title-card h2 {
  font-size: 22px;
  line-height: 42px;
  color: #585858;
}
.comparison-stats-card {
  padding: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.comparison-export {
  margin-top: 20px;
}
.comparison-stats-card span {
  font-weight: normal;
}
.comparison-location-title-card {
  margin-bottom: 20px;
}
.comparison-location-title-card h2 {
  font-size: 22px;
  line-height: 42px;
  display: inline-block;
}
.comparison-graph-card {
  padding: 22px 10px;
  margin-top: 40px;
  min-height: 400px;
}
.comparison-graph-card h2 {
  font-size: 22px;
  padding-left: 70px;
}
.graph-options {
  font-size: 18px;
  margin-right: 40px;
}
.graph-options div {
  margin-right: 24px;
}
.graph-options div:last-of-type {
  margin-right: 0;
}
.the-graph {
  background: #d8d8d8;
  height: 400px;
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
.the-graph-legend {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.legend-location-box {
  margin-right: 20px;
}
.legend-location-color {
  height: 40px;
  width: 40px;
}
.location-color-green {
  background: #aad44c;
}
.location-color-blue {
  background: #64adef;
}
.legend-location-name {
  font-family: 'Catamaran';
  font-size: 18px;
  margin-left: 8px;
  padding-top: 10px;
}
