.col-sm-4.col-xs-12
  .the-card.clearfix
    .card-buttons.clearfix
      .card-inner-location.pull-left
        span Meeting Rooms 
        i.fa.fa-chevron-down(aria-hidden="true")
      .card-nav.pull-right
        a.button-sm(href="#") LIVE 
        a.button-sm.nav-stats(href="#") Stats
    .card-stats-numeric.clearfix
      .total-rooms-container.text-center.pull-left
        .total-rooms-title
          span Total Rooms
        .total-rooms-number
          span 42
        .total-rooms-inuse
          span#rooms-inuse 12
          span  in use   
      .total-desks-container.text-center.pull-right
        .total-desks-title
          span Total Desks
        .total-desks-number
          span 42
        .total-desks-inuse
          span#desks-inuse 12
          span  in use   
    .card-bottom-menu
      .row
        .col-xs-4.text-center
          a.card-settings(href="#")
            img(src="assets/images/card-settings.svg")
        .col-xs-4.text-centerq
        .col-xs-4.text-center
          a.card-settings(href="#")
            img(src="assets/images/maintenance.svg")
            div.card-settings-sticker
              span.maintenence-number 3            
                   
            
           
