.col-sm-8
  .comparison-location-title-card.card-shape
    h2 Main Office
      i.fa.fa-chevron-down(aria-hidden="true")
    a.toggle-button
      img(src="/assets/images/toggle.svg")    
    h2 Second Office
      i.fa.fa-chevron-down(aria-hidden="true")    
include card-default.pug      
include card-default.pug
