.col-sm-4
  .comparison-title-card.card-shape.text-center
    h2 Comparison
    
  .comparison-stats-card.card-shape
    p Peak: 
      span.peak-value  -15%
    p Average: 
      span.average-value  +20%  
    p Above High Mark: 
      span.above-high-mark-value  +10%  
    p Below Low Mark: 
      span.below-low-mark-value  +10%  
    p.comparison-export
      img(src="/assets/images/export.svg")
      
    
    
