.col-sm-8
  .comparison-location-title-card.card-shape
    .row
      .comparison-first-location.text-center 
        h2 Main Office
          i.fa.fa-chevron-down(aria-hidden="true")
      .toggle-wrapper.text-center  
        a.toggle-button
          img(src="/assets/images/toggle.svg")
      .comparison-second-location.text-center      
        h2 Second Office
          i.fa.fa-chevron-down(aria-hidden="true")  
  
include card-comparison.pug      
include card-comparison.pug
