.main-menu              
  .container-fluid 
    .row    
      .col-md-12
        .main-menu-left.pull-left
          a.button.active(href="#") 
            i.fa.fa-home(aria-hidden="true")
            span  Overview   
          a.button(href="#") 
            i.fa.fa-bar-chart(aria-hidden="true")
            span  Comparison  
        .main-menu-time.pull-right
          ul  
            +menubtn("Today")
            +menubtn("This Week")
            +menubtn("This Month")
            +menubtn("This Year")
            +menubtn("Custom")
