.stats-body#stats-body
  .container-fluid
    .row
      .col-md-12
        include comparison-total-occupancy.pug
        +stat-card-mixin('Total Occupancy')
        +stat-card-mixin('Occupancy Range')
        +stat-card-mixin('Occupancy Breakdown')
        +stat-card-mixin('Daily Occupancy: All Weekdays')
        +stat-card-mixin('Daily Occupancy')
      
