.stats-header-wrapper
  include main-menu.pug
  .stats-menu      
    .container-fluid
      .row
        .col-sm-12
          .stats-title.pull-left
            h1 Main Office
          .stats-room-select.stats-select.pull-left
            span Meeting Rooms 
            i.fa.fa-chevron-down(aria-hidden="true")  
          .stats-occupancy-select.stats-select.pull-left
            span Occupancy 
            i.fa.fa-chevron-down(aria-hidden="true")  
          a.stats-live-btn.button-sm.pull-left(href="#") LIVE
          a.stats-export.pull-left(href="#")
            img(src="assets/images/export.svg")
