.container-fluid
  .row
    .col-md-12
      include comparison-total-occupancy.pug
      +comparioson-stat-mixin('Total Occupancy Comparison')
      +comparioson-stat-mixin('Total Occupancy Comparison')
      +comparioson-stat-mixin('Total Occupancy Comparison')
      
