
<div class="col-sm-4 col-xs-12">
  <div class="the-card clearfix">
    <div class="card-buttons clearfix">
      <div class="card-inner-location pull-left"><span>Meeting Rooms </span><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
      <div class="card-nav pull-right"><a class="button-sm" href="#">LIVE </a><a class="button-sm nav-stats" href="#">Stats</a></div>
    </div>
    <div class="card-gauge-block"></div>
    <div class="card-marks-block"> </div>
    <div class="card-stats-numeric clearfix">
      <div class="total-rooms-container text-center pull-left">
        <div class="total-rooms-title"><span>Total Rooms</span></div>
        <div class="total-rooms-number"><span>42</span></div>
        <div class="total-rooms-inuse"><span id="rooms-inuse">12</span><span> in use   </span></div>
      </div>
      <div class="total-desks-container text-center pull-right">
        <div class="total-desks-title"><span>Total Desks</span></div>
        <div class="total-desks-number"><span>42</span></div>
        <div class="total-desks-inuse"><span id="desks-inuse">12</span><span> in use   </span></div>
      </div>
    </div>
    <div class="card-bottom-menu">
      <div class="row">
        <div class="col-xs-4 text-center"><a class="card-settings" href="#"><img src="assets/images/card-settings.svg"/></a></div>
        <div class="col-xs-4 text-centerq"></div>
        <div class="col-xs-4 text-center"><a class="card-settings" href="#"><img src="assets/images/maintenance.svg"/>
            <div class="card-settings-sticker"><span class="maintenence-number">3            </span></div></a></div>
      </div>
    </div>
  </div>
</div>