
<div class="col-sm-4">
  <div class="comparison-title-card card-shape text-center">
    <h2>Comparison</h2>
  </div>
  <div class="comparison-stats-card card-shape">
    <p>Peak: <span class="peak-value"> -15%</span></p>
    <p>Average: <span class="average-value"> +20%  </span></p>
    <p>Above High Mark: <span class="above-high-mark-value"> +10%  </span></p>
    <p>Below Low Mark: <span class="below-low-mark-value"> +10%  </span></p>
    <p class="comparison-export"><img src="/assets/images/export.svg"/></p>
  </div>
</div>