<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SenzoLive</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://use.fontawesome.com/d573432fa9.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/temp.js"></script>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <div class="location-block clearfix">
              <div class="location-icon pull-left"><img src="assets/images/location-icon.svg" alt="Location"/></div>
              <div class="location-name pull-left"><span>Microsoft </span></div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="header-logo"><img src="assets/images/header-logo.svg" alt="SenzoLive"/></div>
          </div>
          <div class="col-xs-4">
            <div class="user-block">
              <div class="user-icon pull-right"><img src="assets/images/user-settings.svg" alt="Settings"/></div>
              <div class="user-name pull-right"><span>John Doe</span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>