
<div class="main-menu">             
  <div class="container-fluid"> 
    <div class="row">   
      <div class="col-md-12">
        <div class="main-menu-left pull-left"><a class="button active" href="#"> <i class="fa fa-home" aria-hidden="true"></i><span> Overview   </span></a><a class="button" href="#"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span> Comparison  </span></a></div>
        <div class="main-menu-time pull-right">
          <ul> 
            <li><a class="button" href="#"> <span>Today</span></a></li>
            <li><a class="button" href="#"> <span>This Week</span></a></li>
            <li><a class="button" href="#"> <span>This Month</span></a></li>
            <li><a class="button" href="#"> <span>This Year</span></a></li>
            <li class="datepicker-parent"><a class="button active custom-time" href="#"><span>Custom</span></a>
              <div class="datepicker">
                <input class="start-date pull-left" type="text" placeholder="01.01.2017"/>
                <div class="date-divider pull-left">-</div>
                <input class="end-date pull-left" type="text" placeholder="01.10.2017"/>
                <div class="datepicker-circle"></div><a class="timepicker-icon pull-left"><img src="assets/images/icon-clock.svg"/></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>