
<div class="stats-body" id="stats-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
                <div class="col-sm-12">
                  <div class="stats-graph-card card-shape clearfix">
                    <div class="graph-header clearfix">
                      <h2>Total Occupancy</h2>
                      <!--.graph-options.pull-right.clearfix
                      .graph-options-average.pull-left
                        span Average 
                        i.fa.fa-chevron-down(aria-hidden="true")    
                      .graph-options-occupancy.pull-left
                        span Occupancy 
                        i.fa.fa-chevron-down(aria-hidden="true")
                      -->
                    </div>
                    <div class="the-graph clearfix">    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="stats-graph-card card-shape clearfix">
                    <div class="graph-header clearfix">
                      <h2>Occupancy Range</h2>
                      <!--.graph-options.pull-right.clearfix
                      .graph-options-average.pull-left
                        span Average 
                        i.fa.fa-chevron-down(aria-hidden="true")    
                      .graph-options-occupancy.pull-left
                        span Occupancy 
                        i.fa.fa-chevron-down(aria-hidden="true")
                      -->
                    </div>
                    <div class="the-graph clearfix">    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="stats-graph-card card-shape clearfix">
                    <div class="graph-header clearfix">
                      <h2>Occupancy Breakdown</h2>
                      <!--.graph-options.pull-right.clearfix
                      .graph-options-average.pull-left
                        span Average 
                        i.fa.fa-chevron-down(aria-hidden="true")    
                      .graph-options-occupancy.pull-left
                        span Occupancy 
                        i.fa.fa-chevron-down(aria-hidden="true")
                      -->
                    </div>
                    <div class="the-graph clearfix">    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="stats-graph-card card-shape clearfix">
                    <div class="graph-header clearfix">
                      <h2>Daily Occupancy: All Weekdays</h2>
                      <!--.graph-options.pull-right.clearfix
                      .graph-options-average.pull-left
                        span Average 
                        i.fa.fa-chevron-down(aria-hidden="true")    
                      .graph-options-occupancy.pull-left
                        span Occupancy 
                        i.fa.fa-chevron-down(aria-hidden="true")
                      -->
                    </div>
                    <div class="the-graph clearfix">    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="stats-graph-card card-shape clearfix">
                    <div class="graph-header clearfix">
                      <h2>Daily Occupancy</h2>
                      <!--.graph-options.pull-right.clearfix
                      .graph-options-average.pull-left
                        span Average 
                        i.fa.fa-chevron-down(aria-hidden="true")    
                      .graph-options-occupancy.pull-left
                        span Occupancy 
                        i.fa.fa-chevron-down(aria-hidden="true")
                      -->
                    </div>
                    <div class="the-graph clearfix">    </div>
                  </div>
                </div>
      </div>
    </div>
  </div>
</div>