
<div class="stats-header-wrapper" id="sticky-header">
  <div class="main-menu-stats">             
    <div class="container-fluid"> 
      <div class="row">   
        <div class="col-md-12">
          <div class="main-menu-left pull-left"><a class="button active" href="#"> <i class="fa fa-home" aria-hidden="true"></i><span> Overview   </span></a><a class="button" href="#"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span> Comparison  </span></a></div>
          <div class="main-menu-time pull-right">
            <ul> 
                <li><a class="button" href="#"> <span>Today</span></a></li>
                <li><a class="button" href="#"> <span>This Week</span></a></li>
                <li><a class="button" href="#"> <span>This Month</span></a></li>
                <li><a class="button" href="#"> <span>This Year</span></a></li>
                <li><a class="button" href="#"> <span>Custom</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stats-menu">     
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="stats-title pull-left">
            <h1>Main Office</h1>
          </div>
          <div class="stats-room-select stats-select pull-left"><span>Meeting Rooms </span>
            <div class="dropdown stats-area-dropdown">
              <ul>
                <li> <a href="#">Working Areas</a></li>
                <li> <a href="#">Meeting Rooms</a></li>
                <li class="all-areas"> <a href="#">All areas  </a></li>
              </ul>
            </div><i class="fa fa-chevron-down" aria-hidden="true"> </i>
          </div>
          <div class="stats-occupancy-select stats-select pull-left"><span>Occupancy </span>
            <div class="dropdown occupancy-area-dropdown">
              <ul>
                <li> <a href="#">Occupancy</a></li>
                <li> <a href="#">Efficiency</a></li>
              </ul>
            </div><i class="fa fa-chevron-down" aria-hidden="true"> </i>
          </div><a class="stats-live-btn button-sm pull-left" href="#">LIVE</a><a class="stats-export pull-left" href="#"><img src="assets/images/export.svg"/></a>
        </div>
      </div>
    </div>
  </div>
</div>