@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

@require variables
@require global
@require header


//Overview Card

.overview-block
  margin-top 60px

.the-card
  padding 12px 26px 42px
  background #fff
  border-radius 20px
  box-shadow 0px 10px 14px 0px rgba(216, 216, 216, 0.5)

  max-width 400px
  margin auto

.card-shape
  background #fff
  border-radius 20px
  box-shadow 0px 10px 14px 0px rgba(216, 216, 216, 0.5)

.card-location
  text-align center
  font-size 28px

.nav-stats
  margin-right 10px

.total-desks-number, .total-rooms-number
  font-weight bold
  font-size 26px


.total-desks-inuse, .total-rooms-inuse
  color #A7A6A6

.card-buttons
  margin-top 20px

.card-stats-numeric
  margin-top 20px

.card-bottom-menu
  margin-top 25px

.add-cart-zone
  cursor pointer
  height 683px
  display flex
  align-items center
  justify-content center

.add-card img
  width 100px

.add-card .add-card-descr
  color #BFBFBF;
  font-size 20px
  font-family cat
  font-weight normal
  margin-top 10px

.card-settings-sticker
  background #FF6868
  border-radius 100px
  display block
  width 18px
  height 18px
  position absolute
  top -5px
  right 36px
  line-height 16px

.maintenence-number
  color #fff
  font-size 12px
  line-height 12px

.card-gauge-block
  height 240px
  background #c9c9c9
  margin-top 20px

.card-marks-block
  margin-top 14px
  height 120px
  background #c9c9c9

// Comparison

.comparison-wrapper
  margin-top 60px

.comparison-title-card
  font-family cat

.comparison-title-card h2
  font-size 22px
  line-height 42px
  color textgrey

.comparison-stats-card
  padding 30px
  margin-top 20px
  font-weight bold
  font-size 20px

.comparison-export
  margin-top 20px

.comparison-stats-card span
  font-weight normal

.comparison-location-title-card
  margin-bottom 20px

.comparison-location-title-card h2
  font-size 22px
  line-height 42px
  display inline-block


// Graphs

.comparison-graph-card
  padding 22px 10px
  margin-top 40px
  min-height 400px

.comparison-graph-card h2
  font-size 22px
  padding-left 70px

.graph-options
  font-size 18px
  margin-right 40px

.graph-options div
  margin-right 24px

.graph-options div:last-of-type
  margin-right 0

.the-graph //temporary styles for visual
  background #D8D8D8
  height 400px
  margin-top 25px
  margin-left 40px
  margin-right 40px

.the-graph-legend
  display flex
  justify-content center
  margin-top 40px

.legend-location-box
  margin-right 20px

.legend-location-color
  height 40px
  width 40px

.location-color-green
  background locationgreen

.location-color-blue
  background locationblue

.legend-location-name
  font-family cat
  font-size 18px
  margin-left 8px
  padding-top 10px


  //Stats

.stats-menu
  padding-top 20px

.stats-title h1 {
  font-size 24px
}

.stats-select
  padding-top 4px
  padding-left 30px

.stats-export img
  width 27px

.stats-header-wrapper
  padding-bottom 10px
  background #fff
  box-shadow 0px 2px 3px 0px rgba(210, 210, 210, 0.5)

.stats-live-btn
  margin-left 30px

.stats-export
  margin-left 30px
