include pug/templates/header.pug

.comparison-wrapper
  .container-fluid 
    .row
      include pug/templates/comparison-stats.pug
      include pug/templates/comparison-locations.pug

.comparison-stats-wrapper
  .container-fluid 
    .row
      include pug/templates/comparison-total-occupancy.pug
      +comparioson-stat-mixin('Total Occupancy Comparison')
      +comparioson-stat-mixin('Occupancy Range Comparsion')
      +comparioson-stat-mixin('Occupancy Range Comparsions')
      
      
