include pug/templates/login-header.pug
.login-wrapper
  .login-card.text-center
    h2.recover-message Forgot your password? 
    h2.recover-message Don’t worry, we will send it to your email
    form
      .user_email
        input(type="email" placeholder="Email" name="user_email")
      .user_submit  
        input(type="submit" name="user_submit" value="Send") 
        
